CONTEXT=[
  TAGS="Tenant='Demo 1',Name='$NAME',User='$USER[NAME]',Template_ID='$TEMPLATE_ID'" ]
EC2=[
  AKI="aki-47eec433",
  AMI="ami-896354fd",
  INSTANCETYPE="t1.micro",
  KEYPAIR="logica_hes",
  SECURITY_GROUP="logica_hes",
  TAGS="CONTEXT",
  USERDATAFILE="/srv/cloud/onedemo/templates/vm/ITisOpen.net-Vyatta-6.1-i386_EU-West-1_t1.micro.udf" ]
NAME="ITisOpen.net-Vyatta-6.1-i386_EU-West-1_t1.micro"
REQUIREMENTS="CLUSTER_ID = 100"
CPU=0.1
MEMORY=1G
